@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f3f4f6; /* light gray background */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
